<html>
    <body>
        <p> Agora Vai!</p>
    </body>

    <button onclick="window.location.href='project/add/'">Criar Projeto</button>
    <button onclick="window.location.href='organization/add/'">Criar Organização</button>
    <button onclick="window.location.href='organizational_role/add'">Criar Função Organizacional</button>
    <button onclick="window.location.href='project_team/add'">Criar Time de Projeto</button>
    {% comment %} <button onclick="window.location.href='organizational_team/add'">Criar Time Organizacional</button> {% endcomment %}
    <button onclick="window.location.href='team_member/add'">Criar Membro de Time</button>
    <button onclick="window.location.href='team_purpose/add'">Criar Propósito de Time</button>
    <button onclick="window.location.href='team_membership/add'">Criar Team Membership</button>

    <br><br>

    <button onclick="window.location.href='project'">Listar Projeto</button>
    <button onclick="window.location.href='organization'">Listar Organização</button>
    <button onclick="window.location.href='organizational_role'">Listar Funções Organizacionais</button>
    <button onclick="window.location.href='project_team'">Listar Times de Projeto</button>
    {% comment %} <button onclick="window.location.href='organizational_team'">Listar Times Organizacionais</button> {% endcomment %}
    <button onclick="window.location.href='team_member'">Listar Membros de Time</button>
    <button onclick="window.location.href='team_purpose'">Listar Propósitos de Time</button>
    <button onclick="window.location.href='team_membership'">Listar Team Memberships</button>

</html>