
<html>
    <button onclick="window.location.href=window.location.origin">Home</button>    
<form action="" method="post">{% csrf_token %}
        <p>Tem certeza que deseja deletar a função organizacional "{{ object.name }}"?</p>
        <input type="submit" value="Confirm" />
        <button type='button' onclick="window.location.href={% url 'organizational_role_list' %}">No</button>
    </form>
    <!-- <a href="{% url 'organization_list' %}">No</a> -->

<html>