<html>
<body>
    <button onclick="window.location.href=window.location.origin">Home</button>
    <h1>Times Organizacionais</h1>
    <ul>
    {% for org_team in object_list %}
        <li>{{ org_team.name }} - {{ org_team.organization.name }} <a href="{% url 'project_update' org_team.pk %}">Atualizar</a></li>
    {% empty %}
        <li>Não há Times Organizacionais cadastrados ainda.</li>
    {% endfor %}
    </ul>
</html>