<html>

<head>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
</head>

<body>
    <button onclick="window.location.href=window.location.origin">Home</button>
    <h1 style="text-align: center">Projetos</h1>
    <div style="margin: auto; width: 80%; padding: 10px;">
        <table id="table" class="display" style="width:100%">
            <thead>
                <tr>
                    {% for column in object_list.cols %}
                        <th>{{ column }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for projeto in object_list.rows %}
                    <tr>
                        <td>{{ projeto.name }}</td>
                        <td>{{ projeto.project_team.name}}</td>
                        <td><a href="{% url 'project_update' projeto.pk %}">Atualizar</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <script>
    $('#table').DataTable();
    </script>
</html>