<html>
<body>
    <button onclick="window.location.href=window.location.origin">Home</button>
    <h1>Criar Propósito de Time</h1>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Salvar" />
</form>
</body>
</html>