<html>
<body>
    <button onclick="window.location.href=window.location.origin">Home</button>
    <h1>Propósito de Time</h1>
    <ul>
    {% for team_purpose in object_list %}
        <li>{{ team_purpose.description }}  <a href="{% url 'project_update' team_purpose.pk %}">Atualizar</a></li>
    {% empty %}
        <li>Nõa há Propósito de Times cadastrados ainda.</li>
    {% endfor %}
    </ul>
</html>