<html>
<body>
    <button onclick="window.location.href=window.location.origin">Home</button>
    <h1>Team Membership</h1>
    <ul>
    {% for team_membership in object_list %}
        <li>{{ team_membership.team.name }} - {{ team_membership.member.name }} - {{ team_membership.organizational_role.name }} <a href="{% url 'project_update' team_membership.pk %}">Atualizar</a></li>
    {% empty %}
        <li>Não há Team Memberships cadastradas ainda.</li>
    {% endfor %}
    </ul>
</html>